<p>page1 works!</p>
<ul>
  <li>click module header to insert first module</li>
  <li>click S.Nos to insert module</li>
  <li>double click single module to create submodule</li>
  <li>double click rest to add respectively</li>
  <li>single click gray zones to edit</li>
  <li>right click to delete</li>
</ul>
<div class="top_view just_end">
  <label>
    Role:
    <select>
      <option value="">--select role--</option>
      <option value="0">Admin</option>
      <option value="1">Officer</option>
    </select>
  </label>
  <label>
    User:
    <select>
      <option value="all">All</option>
      <option value="1">Person A</option>
      <option value="2">Person B</option>
    </select>
  </label>
  <button (click)="register()" type="button">Post Model</button>
  <input type="file" hidden #uploadFile (change)="readJson($event)" />
  <button (click)="uploadFile.click()" type="button">Upload Model</button>
</div>
<div class="main_table">
  <table>
    <thead>
      <tr>
        <th>S.No</th>
        <th
          (click)="addItem(tableRows.length ? tableRows.length - 1 : 0)"
          class="addModules"
          title="Add New Module"
        >
          Main Modules
        </th>
        <th>Sub Modules</th>
        <th>Elements</th>
        <th>Fields</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (mod of tableRows; track $index; let i = $index) {
        <tr>
          <td [attr.rowspan]="mod.rowspan" class="txt_ctr" (click)="addItem(i)">
            {{ $index + 1 }}
          </td>
          <td
            (wheel)="reArrange($event, i)"
            [attr.rowspan]="mod.rowspan"
            [attr.colspan]="mod.submodules.length - 1 ? 1 : 2"
            (contextmenu)="toDelete($event, i)"
            (dblclick)="!(mod.submodules.length - 1) && addItem(i, 0)"
          >
            @if (mod.edit) {
              <label>{{ prevKey }} : </label>
              <input
                type="text"
                [(ngModel)]="editData"
                #editInput
                (blur)="blurEvent()"
                (keypress)="keyHandle($event)"
              />
            } @else {
              <div class="top_view mini_grid">
                <div class="highlight" (click)="editAction(i)">
                  Display Name : {{ mod.displayName }}
                </div>
                <div class="highlight" (click)="addIcon(i)">Icon : {{ mod.iconName }}</div>
                <div class="highlight" (click)="addRoute(i)">Route : {{ mod.route }}</div>
              </div>
            }
          </td>
          @if (mod.submodules.length - 1) {
            <td
              (wheel)="reArrange($event, i, 0)"
              [attr.rowspan]="mod.submodules[0].rowspan"
              (contextmenu)="toDelete($event, i, 0)"
              (dblclick)="addItem(i, 0)"
            >
              @if (mod.submodules[0].edit) {
                <label>{{ prevKey }} : </label>
                <input
                  type="text"
                  [(ngModel)]="editData"
                  #editInput
                  (blur)="blurEvent()"
                  (keypress)="keyHandle($event)"
                />
              } @else {
                <div class="top_view mini_grid">
                  <div class="highlight" (click)="editAction(i, 0)">
                    Display Name : {{ mod.submodules[0].displayName }}
                  </div>
                  <div class="highlight" (click)="addIcon(i, 0)">
                    Icon : {{ mod.submodules[0].iconName }}
                  </div>
                  <div class="highlight" (click)="addRoute(i, 0)">
                    Route : {{ mod.submodules[0].route }}
                  </div>
                </div>
              }
            </td>
          }
          <td
            (wheel)="reArrange($event, i, 0, 0)"
            [attr.rowspan]="mod.submodules[0].elements[0].rowspan"
            (contextmenu)="toDelete($event, i, 0, 0)"
            (dblclick)="addItem(i, 0, 0)"
          >
            @if (mod.submodules[0].elements[0].edit) {
              <label>{{ prevKey }} : </label>
              <input
                type="text"
                [(ngModel)]="editData"
                #editInput
                (blur)="blurEvent()"
                (keypress)="keyHandle($event)"
              />
            } @else {
              <div class="top_view">
                <span class="highlight" (click)="editAction(i, 0, 0)">
                  type : {{ mod.submodules[0].elements[0].type }}
                </span>
              </div>
            }
          </td>
          <td
            (wheel)="reArrange($event, i, 0, 0, 0)"
            [attr.rowspan]="mod.submodules[0].elements[0].fields[0].rowspan"
            (contextmenu)="toDelete($event, i, 0, 0, 0)"
            (dblclick)="addItem(i, 0, 0, 0)"
          >
            @if (mod.submodules[0].elements[0].fields[0].edit) {
              <label>{{ prevKey }} : </label>
              <input
                [(ngModel)]="editData"
                type="text"
                #editInput
                (blur)="blurEvent()"
                (keypress)="keyHandle($event)"
              />
            } @else {
              <div class="top_view mini_grid">
                <div (click)="editAction(i, 0, 0, 0)" class="highlight">
                  Label : {{ mod.submodules[0].elements[0].fields[0].label }}
                </div>
                <div (click)="addKey(i, 0, 0, 0)" class="highlight">
                  Key : {{ mod.submodules[0].elements[0].fields[0].key }}
                </div>
              </div>
            }
          </td>
          <td
            (wheel)="reArrange($event, i, 0, 0, 0, 0)"
            (contextmenu)="toDelete($event, i, 0, 0, 0, 0)"
            (dblclick)="addItem(i, 0, 0, 0, 0)"
          >
            @if (mod.submodules[0].elements[0].fields[0]?.actions?.[0]?.edit) {
              <label>{{ prevKey }} : </label>
              <input
                type="text"
                [(ngModel)]="editData"
                #editInput
                (blur)="blurEvent()"
                (keypress)="keyHandle($event)"
              />
            } @else {
              <div class="top_view">
                <span class="highlight" (click)="editAction(i, 0, 0, 0, 0)">
                  act : {{ mod.submodules[0].elements[0].fields[0]?.actions?.[0]?.act }}
                </span>
              </div>
            }
          </td>
        </tr>

        @for (sub of mod.submodules; track $index; let j = $index) {
          @if (!$first) {
            <tr>
              <td
                (wheel)="reArrange($event, i, j)"
                [attr.rowspan]="sub.rowspan"
                (dblclick)="addItem(i, j)"
                (contextmenu)="toDelete($event, i, j)"
              >
                @if (sub.edit) {
                  <label>{{ prevKey }} : </label>
                  <input
                    type="text"
                    [(ngModel)]="editData"
                    #editInput
                    (blur)="blurEvent()"
                    (keypress)="keyHandle($event)"
                  />
                } @else {
                  <div class="top_view mini_grid">
                    <div class="highlight" (click)="editAction(i, j)">
                      Display Name : {{ sub.displayName }}
                    </div>
                    <div class="highlight" (click)="addIcon(i, j)">Icon : {{ sub.iconName }}</div>
                    <div class="highlight" (click)="addRoute(i, j)">Route : {{ sub.route }}</div>
                  </div>
                }
              </td>
              <td
                (wheel)="reArrange($event, i, j, 0)"
                [attr.rowspan]="sub.elements[0].rowspan"
                (dblclick)="addItem(i, j, 0)"
                (contextmenu)="toDelete($event, i, j, 0)"
              >
                @if (sub.elements[0].edit) {
                  <label>{{ prevKey }} : </label>
                  <input
                    type="text"
                    [(ngModel)]="editData"
                    #editInput
                    (blur)="blurEvent()"
                    (keypress)="keyHandle($event)"
                  />
                } @else {
                  <div class="top_view">
                    <span class="highlight" (click)="editAction(i, j, 0)">
                      type : {{ sub.elements[0].type }}
                    </span>
                  </div>
                }
              </td>
              <td
                (wheel)="reArrange($event, i, j, 0, 0)"
                [attr.rowspan]="sub.elements[0].fields[0].rowspan"
                (dblclick)="addItem(i, j, 0, 0)"
                (contextmenu)="toDelete($event, i, j, 0, 0)"
              >
                @if (sub.elements[0].fields[0].edit) {
                  <label>{{ prevKey }} : </label>
                  <input
                    type="text"
                    [(ngModel)]="editData"
                    #editInput
                    (blur)="blurEvent()"
                    (keypress)="keyHandle($event)"
                  />
                } @else {
                  <div class="top_view mini_grid">
                    <div (click)="editAction(i, j, 0, 0)" class="highlight">
                      Label : {{ sub.elements[0].fields[0].label }}
                    </div>
                    <div (click)="addKey(i, j, 0, 0)" class="highlight">
                      Key : {{ sub.elements[0].fields[0].key }}
                    </div>
                  </div>
                }
              </td>
              <td
                (wheel)="reArrange($event, i, j, 0, 0, 0)"
                [attr.rowspan]="sub.elements[0].fields[0]?.actions?.[0]?.rowspan || 1"
                (dblclick)="addItem(i, j, 0, 0, 0)"
                (contextmenu)="toDelete($event, i, j, 0, 0, 0)"
              >
                @if (sub.elements[0].fields[0]?.actions?.[0]?.edit) {
                  <label>{{ prevKey }} : </label>
                  <input
                    type="text"
                    [(ngModel)]="editData"
                    #editInput
                    (blur)="blurEvent()"
                    (keypress)="keyHandle($event)"
                  />
                } @else {
                  <div class="top_view">
                    <span class="highlight" (click)="editAction(i, j, 0, 0, 0)">
                      act : {{ sub.elements[0].fields[0]?.actions?.[0]?.act }}
                    </span>
                  </div>
                }
              </td>
            </tr>
          }
          @for (elem of sub.elements; track $index; let k = $index) {
            @if (!$first) {
              <tr>
                <td
                  (wheel)="reArrange($event, i, j, k)"
                  [attr.rowspan]="elem.rowspan"
                  (dblclick)="addItem(i, j, k)"
                  (contextmenu)="toDelete($event, i, j, k)"
                >
                  @if (elem.edit) {
                    <label>{{ prevKey }} : </label>
                    <input
                      type="text"
                      [(ngModel)]="editData"
                      #editInput
                      (blur)="blurEvent()"
                      (keypress)="keyHandle($event)"
                    />
                  } @else {
                    <div class="top_view">
                      <span class="highlight" (click)="editAction(i, j, k)">
                        type : {{ elem.type }}
                      </span>
                    </div>
                  }
                </td>
                <td
                  (wheel)="reArrange($event, i, j, k, 0)"
                  [attr.rowspan]="elem.fields[0].rowspan"
                  (dblclick)="addItem(i, j, k, 0)"
                  (contextmenu)="toDelete($event, i, j, k, 0)"
                >
                  @if (elem.fields[0].edit) {
                    <label>{{ prevKey }} : </label>
                    <input
                      type="text"
                      [(ngModel)]="editData"
                      #editInput
                      (blur)="blurEvent()"
                      (keypress)="keyHandle($event)"
                    />
                  } @else {
                    <div class="top_view mini_grid">
                      <div (click)="editAction(i, j, k, 0)" class="highlight">
                        Label : {{ elem.fields[0].label }}
                      </div>
                      <div (click)="addKey(i, j, k, 0)" class="highlight">
                        Key : {{ elem.fields[0].key }}
                      </div>
                    </div>
                  }
                </td>
                <td
                  (wheel)="reArrange($event, i, j, k, 0, 0)"
                  [attr.rowspan]="elem.fields[0]?.actions?.[0]?.rowspan || 1"
                  (dblclick)="addItem(i, j, k, 0, 0)"
                  (contextmenu)="toDelete($event, i, j, k, 0, 0)"
                >
                  @if (elem.fields[0]?.actions?.[0]?.edit) {
                    <label>{{ prevKey }} : </label>
                    <input
                      type="text"
                      [(ngModel)]="editData"
                      #editInput
                      (blur)="blurEvent()"
                      (keypress)="keyHandle($event)"
                    />
                  } @else {
                    <div class="top_view">
                      <span class="highlight" (click)="editAction(i, j, k, 0, 0)">
                        act : {{ elem.fields[0]?.actions?.[0]?.act }}
                      </span>
                    </div>
                  }
                </td>
              </tr>
            }
            @for (field of elem.fields; track $index; let l = $index) {
              @if (!$first) {
                <tr>
                  <td
                    (wheel)="reArrange($event, i, j, k, l)"
                    [attr.rowspan]="field.rowspan"
                    (dblclick)="addItem(i, j, k, l)"
                    (contextmenu)="toDelete($event, i, j, k, l)"
                  >
                    @if (field.edit) {
                      <label>{{ prevKey }} : </label>
                      <input
                        type="text"
                        [(ngModel)]="editData"
                        #editInput
                        (blur)="blurEvent()"
                        (keypress)="keyHandle($event)"
                      />
                    } @else {
                      <div class="top_view mini_grid">
                        <div (click)="editAction(i, j, k, l)" class="highlight">
                          Label : {{ field.label }}
                        </div>
                        <div (click)="addKey(i, j, k, l)" class="highlight">
                          Key : {{ field.key }}
                        </div>
                      </div>
                    }
                  </td>
                  <td
                    (wheel)="reArrange($event, i, j, k, l, 0)"
                    [attr.rowspan]="field?.actions?.[0]?.act || 1"
                    (dblclick)="addItem(i, j, k, l, 0)"
                    (contextmenu)="toDelete($event, i, j, k, l, 0)"
                  >
                    @if (field?.actions?.[0]?.edit) {
                      <label>{{ prevKey }} : </label>
                      <input
                        type="text"
                        [(ngModel)]="editData"
                        #editInput
                        (blur)="blurEvent()"
                        (keypress)="keyHandle($event)"
                      />
                    } @else {
                      <div class="top_view">
                        <span class="highlight" (click)="editAction(i, j, k, l, 0)">
                          act : {{ field?.actions?.[0]?.act }}
                        </span>
                      </div>
                    }
                  </td>
                </tr>
              }
              @for (act of field.actions; track $index; let m = $index) {
                @if (!$first) {
                  <tr>
                    <td
                      (wheel)="reArrange($event, i, j, k, l, m)"
                      (dblclick)="addItem(i, j, k, l, m)"
                      (contextmenu)="toDelete($event, i, j, k, l, m)"
                    >
                      @if (act.edit) {
                        <label>{{ prevKey }} : </label>
                        <input
                          type="text"
                          [(ngModel)]="editData"
                          #editInput
                          (blur)="blurEvent()"
                          (keypress)="keyHandle($event)"
                        />
                      } @else {
                        <div class="top_view">
                          <span class="highlight" (click)="editAction(i, j, k, l, m)">
                            act : {{ act?.act }}
                          </span>
                        </div>
                      }
                    </td>
                  </tr>
                }
              }
            }
          }
        }
      }
    </tbody>
  </table>
</div>
