.just_end {
  justify-content: end !important;
}

.top_view {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.txt_ctr {
  text-align: center;
}

.mini_grid {
  min-width: 60px;
  display: grid;
  gap: 2px;
}

.main_table {
  padding: 12px;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 95%;
  margin: auto;
}

.addModules:hover {
  transition: all ease 0.5s;
  cursor: pointer;
  background-color: lightblue;
}

th,
td {
  border: 1px solid black;
  padding: 8px 4px;
}

.highlight {
  min-width: 60px;
  background-color: lightgray;
  padding: 2px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MOBILE FIX */
@media (max-width: 796px) {
  .main_table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    width: max-content;
    min-width: 1200px;
  }

  th,
  td {
    white-space: nowrap;
  }
}
