<p>page1 works!</p>
<div class="main_table">
  <table>
    <thead>
      <tr>
        <th>S.No</th>
        <th>
          Main Modules
          <button (click)="addItem(tableRows.length ? tableRows.length - 1 : 0)">+</button>
        </th>
        <th>Sub Modules</th>
        <th>Elements</th>
        <th>Fields</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (mod of tableRows; track $index; let i = $index) {
        <tr>
          <td [attr.rowspan]="mod.rowspan" style="text-align: center">
            {{ $index + 1 }}
          </td>
          <td [attr.rowspan]="mod.rowspan" [attr.colspan]="mod.submodules.length - 1 ? 1 : 2">
            @if (mod.edit) {
              <input type="text" [(ngModel)]="editData" #editInput (keypress)="keyHandle($event)" />
            } @else {
              <div style="display: flex; justify-content: space-between; width: 90%; margin: auto">
                <span style="min-width: 20px" (click)="editAction(i)">
                  {{ mod.displayName }}
                </span>
                <span>
                  <button (click)="addItem(i)">+</button>
                  @if (!(mod.submodules.length - 1)) {
                    <button (click)="addItem(i, 0)">-</button>
                  }
                  <button (click)="remove(i)">x</button>
                </span>
              </div>
            }
          </td>
          @if (mod.submodules.length - 1) {
            <td [attr.rowspan]="mod.submodules[0].rowspan">
              @if (mod.submodules[0].edit) {
                <input
                  type="text"
                  [(ngModel)]="editData"
                  #editInput
                  (keypress)="keyHandle($event)"
                />
              } @else {
                <div
                  style="display: flex; justify-content: space-between; width: 90%; margin: auto"
                >
                  <span style="min-width: 20px" (click)="editAction(i, 0)">
                    {{ mod.submodules[0].displayName }}
                  </span>
                  <span>
                    <button (click)="addItem(i, 0)">+</button>
                    <button (click)="remove(i, 0)">x</button>
                  </span>
                </div>
              }
            </td>
          }
          <td [attr.rowspan]="mod.submodules[0].elements[0].rowspan">
            @if (mod.submodules[0].elements[0].edit) {
              <input type="text" [(ngModel)]="editData" #editInput (keypress)="keyHandle($event)" />
            } @else {
              <div style="display: flex; justify-content: space-between; width: 90%; margin: auto">
                <span style="min-width: 20px" (click)="editAction(i, 0, 0)">
                  {{ mod.submodules[0].elements[0].type }}
                </span>
                <span>
                  <button (click)="addItem(i, 0, 0)">+</button>
                  <button (click)="remove(i, 0, 0)">x</button>
                </span>
              </div>
            }
          </td>
          <td [attr.rowspan]="mod.submodules[0].elements[0].fields[0].rowspan">
            @if (mod.submodules[0].elements[0].fields[0].edit) {
              <input type="text" [(ngModel)]="editData" #editInput (keypress)="keyHandle($event)" />
            } @else {
              <div style="display: flex; justify-content: space-between; width: 90%; margin: auto">
                <span style="min-width: 20px" (click)="editAction(i, 0, 0, 0)">
                  {{ mod.submodules[0].elements[0].fields[0].label }}
                </span>
                <span>
                  <button (click)="addItem(i, 0, 0, 0)">+</button>
                  <button (click)="remove(i, 0, 0, 0)">x</button>
                </span>
              </div>
            }
          </td>
          <td>
            @if (mod.submodules[0].elements[0].fields[0]?.actions?.[0]?.edit) {
              <input type="text" [(ngModel)]="editData" #editInput (keypress)="keyHandle($event)" />
            } @else {
              <div style="display: flex; justify-content: space-between; width: 90%; margin: auto">
                <span style="min-width: 20px" (click)="editAction(i, 0, 0, 0, 0)">
                  {{ mod.submodules[0].elements[0].fields[0]?.actions?.[0]?.act }}
                </span>
                <span>
                  <button (click)="addItem(i, 0, 0, 0, 0)">+</button>
                  <button (click)="remove(i, 0, 0, 0, 0)">x</button>
                </span>
              </div>
            }
          </td>
        </tr>

        @for (sub of mod.submodules; track $index; let j = $index) {
          @if (!$first) {
            <tr>
              <td [attr.rowspan]="sub.rowspan">
                @if (sub.edit) {
                  <input
                    type="text"
                    [(ngModel)]="editData"
                    #editInput
                    (keypress)="keyHandle($event)"
                  />
                } @else {
                  <div
                    style="display: flex; justify-content: space-between; width: 90%; margin: auto"
                  >
                    <span style="min-width: 20px" (click)="editAction(i, j)">
                      {{ sub.displayName }}
                    </span>
                    <span>
                      <button (click)="addItem(i, j)">+</button>
                      <button (click)="remove(i, j)">x</button>
                    </span>
                  </div>
                }
              </td>
              <td [attr.rowspan]="sub.elements[0].rowspan">
                @if (sub.elements[0].edit) {
                  <input
                    type="text"
                    [(ngModel)]="editData"
                    #editInput
                    (keypress)="keyHandle($event)"
                  />
                } @else {
                  <div
                    style="display: flex; justify-content: space-between; width: 90%; margin: auto"
                  >
                    <span style="min-width: 20px" (click)="editAction(i, j, 0)">
                      {{ sub.elements[0].type }}
                    </span>
                    <span>
                      <button (click)="addItem(i, j, 0)">+</button>
                      <button (click)="remove(i, j, 0)">x</button>
                    </span>
                  </div>
                }
              </td>
              <td [attr.rowspan]="sub.elements[0].fields[0].rowspan">
                @if (sub.elements[0].fields[0].edit) {
                  <input
                    type="text"
                    [(ngModel)]="editData"
                    #editInput
                    (keypress)="keyHandle($event)"
                  />
                } @else {
                  <div
                    style="display: flex; justify-content: space-between; width: 90%; margin: auto"
                  >
                    <span style="min-width: 20px" (click)="editAction(i, j, 0, 0)">
                      {{ sub.elements[0].fields[0].label }}
                    </span>
                    <span>
                      <button (click)="addItem(i, j, 0, 0)">+</button>
                      <button (click)="remove(i, j, 0, 0)">x</button>
                    </span>
                  </div>
                }
              </td>
              <td [attr.rowspan]="sub.elements[0].fields[0]?.actions?.[0]?.rowspan || 1">
                @if (sub.elements[0].fields[0]?.actions?.[0]?.edit) {
                  <input
                    type="text"
                    [(ngModel)]="editData"
                    #editInput
                    (keypress)="keyHandle($event)"
                  />
                } @else {
                  <div
                    style="display: flex; justify-content: space-between; width: 90%; margin: auto"
                  >
                    <span style="min-width: 20px" (click)="editAction(i, j, 0, 0, 0)">
                      {{ sub.elements[0].fields[0]?.actions?.[0]?.act || '-' }}
                    </span>
                    <span>
                      <button (click)="addItem(i, j, 0, 0, 0)">+</button>
                      <button (click)="remove(i, j, 0, 0, 0)">x</button>
                    </span>
                  </div>
                }
              </td>
            </tr>
          }
          @for (elem of sub.elements; track $index; let k = $index) {
            @if (!$first) {
              <tr>
                <td [attr.rowspan]="elem.rowspan">
                  @if (elem.edit) {
                    <input
                      type="text"
                      [(ngModel)]="editData"
                      #editInput
                      (keypress)="keyHandle($event)"
                    />
                  } @else {
                    <div
                      style="
                        display: flex;
                        justify-content: space-between;
                        width: 90%;
                        margin: auto;
                      "
                    >
                      <span style="min-width: 20px" (click)="editAction(i, j, k)">
                        {{ elem.type }}
                      </span>
                      <span>
                        <button (click)="addItem(i, j, k)">+</button>
                        <button (click)="remove(i, j, k)">x</button>
                      </span>
                    </div>
                  }
                </td>
                <td [attr.rowspan]="elem.fields[0].rowspan">
                  @if (elem.fields[0].edit) {
                    <input
                      type="text"
                      [(ngModel)]="editData"
                      #editInput
                      (keypress)="keyHandle($event)"
                    />
                  } @else {
                    <div
                      style="
                        display: flex;
                        justify-content: space-between;
                        width: 90%;
                        margin: auto;
                      "
                    >
                      <span style="min-width: 20px" (click)="editAction(i, j, k, 0)">
                        {{ elem.fields[0].label }}
                      </span>
                      <span>
                        <button (click)="addItem(i, j, k, 0)">+</button>
                        <button (click)="remove(i, j, k, 0)">x</button>
                      </span>
                    </div>
                  }
                </td>
                <td [attr.rowspan]="elem.fields[0]?.actions?.[0]?.rowspan || 1">
                  @if (elem.fields[0]?.actions?.[0]?.edit) {
                    <input
                      type="text"
                      [(ngModel)]="editData"
                      #editInput
                      (keypress)="keyHandle($event)"
                    />
                  } @else {
                    <div
                      style="
                        display: flex;
                        justify-content: space-between;
                        width: 90%;
                        margin: auto;
                      "
                    >
                      <span style="min-width: 20px" (click)="editAction(i, j, k, 0, 0)">
                        {{ elem.fields[0]?.actions?.[0]?.act || '-' }}
                      </span>
                      <span>
                        <button (click)="addItem(i, j, k, 0, 0)">+</button>
                        <button (click)="remove(i, j, k, 0, 0)">x</button>
                      </span>
                    </div>
                  }
                </td>
              </tr>
            }
            @for (field of elem.fields; track $index; let l = $index) {
              @if (!$first) {
                <tr>
                  <td [attr.rowspan]="field.rowspan">
                    @if (field.edit) {
                      <input
                        type="text"
                        [(ngModel)]="editData"
                        #editInput
                        (keypress)="keyHandle($event)"
                      />
                    } @else {
                      <div
                        style="
                          display: flex;
                          justify-content: space-between;
                          width: 90%;
                          margin: auto;
                        "
                      >
                        <span style="min-width: 20px" (click)="editAction(i, j, k, l)">
                          {{ field.label }}
                        </span>
                        <span>
                          <button (click)="addItem(i, j, k, l)">+</button>
                          <button (click)="remove(i, j, k, l)">x</button>
                        </span>
                      </div>
                    }
                  </td>
                  <td [attr.rowspan]="field?.actions?.[0]?.act || 1">
                    @if (field?.actions?.[0]?.edit) {
                      <input
                        type="text"
                        [(ngModel)]="editData"
                        #editInput
                        (keypress)="keyHandle($event)"
                      />
                    } @else {
                      <div
                        style="
                          display: flex;
                          justify-content: space-between;
                          width: 90%;
                          margin: auto;
                        "
                      >
                        <span style="min-width: 20px" (click)="editAction(i, j, k, l, 0)">
                          {{ field?.actions?.[0]?.act || '--' }}
                        </span>
                        <span>
                          <button (click)="addItem(i, j, k, l, 0)">+</button>
                          <button (click)="remove(i, j, k, l, 0)">x</button>
                        </span>
                      </div>
                    }
                  </td>
                </tr>
              }
              @for (act of field.actions; track $index; let m = $index) {
                @if (!$first) {
                  <tr>
                    <td>
                      @if (act.edit) {
                        <input
                          type="text"
                          [(ngModel)]="editData"
                          #editInput
                          (keypress)="keyHandle($event)"
                        />
                      } @else {
                        <div
                          style="
                            display: flex;
                            justify-content: space-between;
                            width: 90%;
                            margin: auto;
                          "
                        >
                          <span style="min-width: 20px" (click)="editAction(i, j, k, l, m)">
                            {{ act?.act || '---' }}
                          </span>
                          <span>
                            <button (click)="addItem(i, j, k, l, m)">+</button>
                            <button (click)="remove(i, j, k, l, m)">x</button>
                          </span>
                        </div>
                      }
                    </td>
                  </tr>
                }
              }
            }
          }
        }
      }
    </tbody>
  </table>
</div>
